/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
SearchBar{
    color: white;
    tab-text-color: white;
    textColorHint:white;
}

.btn {
    font-size: 18;
    color: rgba(30,76,117,1);
}

.home-panel{
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}
.white_background{
    background-color: rgba(255,255,255,0.8);
    color:rgba(30,76,117,1);
}

.white_background_border{
    border-color:rgba(30,76,117,1);
    border-width: 2;
    border-radius: 12dp;
    background-color: rgba(255,255,255,0.8);
    color:rgba(30,76,117,1);
}

.blue_background{
    background-color: rgba(30,76,117,0.8);
    color: white;
    border-radius: 10dp;
}

.blue_background_opac{
    background-color: rgba(30,76,117,1);
    color: white;
    border-radius: 10dp;
}

.blue_background_action_bar{
    background-color: rgba(30,76,117,1);
    color: white;
}

.blue_col {
    color: rgba(30,76,117,1);
}

.class_image_bar{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.green_iDate{
    color: #7fff00;
}

.orange_iDate{
    color: orange;
}

.red_iDate{
    color: red;
}
